{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather APP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style_index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Weather APP</h1>
        {% if messages %} <!-- Check if there are messages to display -->
        <ul class="messages">
            {% for message in messages %} <!-- Iterate through messages -->
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <ul>
            <li><a href="register/">Registration</a></li>
            <li><a href="login/">Login</a></li>
        </ul>
    </div>
</body>
</html>
